<div class="container">
    <input type="file" id="file" (change)="selectFile($event)" multiple />
    <ul class="files" style="list-style-type: none;">
        <li *ngFor="let file of files" class="m-2" (click)="onSelect(file)">
            <button class="btn btn-info">
                <span class="badge badge-dark text-light">{{file.step}}</span> {{file.name}}
            </button>
        </li>
    </ul>
    <div *ngIf="totalStep">
        <span>total: {{totalStep}}</span>
    </div>

    <app-file-detail [file]="selectedFile"></app-file-detail>
</div>
