<div class="container text-center">
    <label class="btn btn-primary">
        ファイルを選択
        <input type="file" id="file" style="display: none;" (change)="selectFile($event)" multiple />
    </label>
    <ul class="files" style="list-style-type: none;">
        <li *ngFor="let file of files" class="m-2" (click)="onSelect(file)">
            <button class="btn btn-outline-info btn-block text-dark text-left">
                <span class="badge badge-dark text-white">{{file.step}}</span> {{file.name}}
            </button>
        </li>
        <li>
            <div *ngIf="totalStep">
                <h5>total: {{totalStep}}</h5>
            </div>
        </li>
    </ul>

</div>
<app-file-detail [file]="selectedFile"></app-file-detail>
